*{
    margin: 0;
}
header{
    display: flex;
    align-items: center; 
    padding: 10px; 
    background-color: rgb(127, 236, 255); 
    height: 80px; 
    
}
.containerbotones{
    margin-left: 886px;
    margin-top: auto;
    width: 100%;



}
.botonesheader{
    text-decoration: none;
    cursor: pointer; 
    position: relative;
    color: black;
    background-color: transparent;
    border: transparent;
    
    
}

.navegador{
    background-color: aqua;
}
body{
   background-image: url(img/Captura\ de\ pantalla\ 2024-08-16\ 151015.png);
   
}
.section{
    background-color: transparent;
    width: 50%;
    height: 143px;
    margin-left:500px;
    position: relative;
}
.f30{
    text-decoration: none;
    font-size: 2rem;
    color: #49a6ad;
    position: absolute;
    top: 370px;
    right: 464px;
    
    
    

}
.containerf30{
    width: 900px;
    height: 80px;
    margin-left: 753px;
    margin-top: 230px;
    background-image: url(img/Captura\ de\ pantalla\ 2024-08-19\ 001516.png);
    transition: 200ms;
}

.aside{
    background-color: transparent;
    width: 50%;
    height: 143px;
}
.volver{
    text-decoration: none;
    text-align: center;
}
.main{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    position: absolute;
    top: 756px;
    width: 100%;
    height: 143px;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 5px ;
    flex-wrap: wrap;
}
.elementos{
    list-style: none;
}
.redes{
    color: aliceblue;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 200ms;
    
}
.redes :hover{
    transform: scale(1.5);
}
