*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

header{
    display: flex;
    align-items: center; 
    padding: 10px; 
    background-color:rgb(160, 216, 235);
    height: 80px; 
    text-align: center;
    
}
.containerbotones{
    margin-left: 886px;
    margin-top: auto;
    width: 100%;



}
.botonesheader{
    text-decoration: none;
    cursor: pointer; 
    position: relative;
    color: black;
    background-color: transparent;
    border: transparent;
    margin: 5px;
    
    
}

.navegador{
    background-color: transparent;
    color: transparent
}
body{
   background-image: url(img/Captura\ de\ pantalla\ 2024-08-16\ 151015.png);
   
}
.lit{
    position: absolute;
    top: 100px;
    right: 0px;
}
.mya{
    position: absolute;
    top: 100px;
    left: 0px;
}
.valen{
    position: absolute;
    top: 100px;
    right: 600px;
}
.elpurre{
    position: absolute;
    bottom: 215px;
    left: 0px;
}
.anamena{
    position: absolute;
   bottom: 215px;
    right: 600px;
}
.lilcake{
    position: absolute;
    bottom: 215px;
    right: 0px;
}

.section{
    background-color: transparent;
    width: 50%;
    height: 143px;
    margin-left:500px;
    position: relative;
}
.entrevistas{
    width: 1653px;
    height: 80px;
    position: absolute;
    top: 350px;
   background-color:transparent;
    text-align: center;
}



.entrevistados{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(172, 214, 233);
    position: absolute;
    top: 10px;
    right: 500px;
    font-weight: 100; 
}
.TOP6{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(172, 214, 233);
    position: absolute;
    top: 10px;
    right: 580px;
    font-weight: 100;
    
    
    

}
.containerf30{
    width: 1653px;
    height: 80px;
    position: absolute;
    top: 679px;
   background-color: rgb(214, 69, 85);
    text-align: center;
}



.main{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
#footer{
    background-color: black;
    position: absolute;
    top: 756px;
    width: 100%;
    height: 143px;
    color: #ffffff;
    transition: backround-color 0.3s ease, color 0.3s ease;
}
#footer.temaclaro {
    background-color: white; 
    color: black; 
}
 .iconos  a {
    color: white; 
    transition: color 0.3s ease;
}


footer.temaclaro .iconos a {
    color: black; 
}
.tema{
    text-align: center;
    margin-bottom: 10px;
}
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 5px ;
    flex-wrap: wrap;
}
.elementos{
    list-style: none;
}
.touts{
    align-items: end;
    width: 25%;
    height: auto;
    position: relative;
    margin-top: 0px;
    margin-left: 122px;
    
}
#mapa{
    align-items: end;
}
#containersomos{
    align-items: end;
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 213px;
   
    
}
.redes{
    color: aliceblue;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 200ms;
    
}
.redes :hover{
    transform: scale(1.5);
}
#Copyright{
    color: aliceblue;
    text-align: center;
    transition: color 0.3s ease;
}
footer.temaclaro #Copyright {
    color: black; 
}
/* comienzo pagina 2 */

.portadas{
    box-shadow: 0px 0px 2px 2px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    flex-basis: 300px;
    flex-grow: 1;
    margin-bottom: rem;
    transition: 200ms;
    padding: 23px;
    background-color: aliceblue;
    position: relative;
    margin: 20px 20px 20px 20px;
    
}
.contenedorportadas{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.aside{
    background-color: transparent;
    width: 50%;
    height: 143px;
}
.volver{
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: rgb(172, 214, 233);
    margin-top: 333px;
    position: relative;
    
}
.containervolver{
    width: 1653px;
    height: 80px;
    position: absolute;
    top: 679px;
   background-color: rgb(214, 69, 85);
    text-align: center;
}
.links{
    text-decoration: none;
    color: black;
    margin: 10px ;
}
.mouse{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 200px;
    font-size: 40px;
}
