*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    align-items: center; 
    padding: 10px; 
    background-color: rgb(127, 236, 255); 
    height: 80px; 
    
}
.containerbotones{
    margin-left: 886px;
    margin-top: auto;
    width: 100%;



}
.botonesheader{
    text-decoration: none;
    cursor: pointer; 
    position: relative;
    color: black;
    background-color: transparent;
    border: transparent;
    
    
}

.navegador{
    background-color: aqua;
}
body{
   background-image: url(img/Captura\ de\ pantalla\ 2024-08-16\ 151015.png);
   
}
.section{
    background-color: transparent;
    width: 50%;
    height: 143px;
    margin-left:500px;
    position: relative;
}
.TOP6{
    text-decoration: none;
    font-size: 2rem;
    color: #49a6ad;
    position: absolute;
    top: 370px;
    right: 80px;
    
    
    

}
.containerf30{
    width: 900px;
    height: 80px;
    margin-left: 753px;
    margin-top: 230px;
    background-image: url(img/Captura\ de\ pantalla\ 2024-08-19\ 001516.png);
    transition: 200ms;
}



.main{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    position: absolute;
    top: 756px;
    width: 100%;
    height: 143px;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 5px ;
    flex-wrap: wrap;
}
.elementos{
    list-style: none;
}
.redes{
    color: aliceblue;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 200ms;
    
}
.redes :hover{
    transform: scale(1.5);
}
/* comienzo pagfina 2 */

.portadas{
    box-shadow: 0px 0px 2px 2px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    flex-basis: 300px;
    flex-grow: 1;
    margin-bottom: rem;
    transition: 200ms;
    padding: 23px;
    background-color: aliceblue;
    position: relative;
    margin: 30px 30px 30px 30px;
}
.contenedorportadas{
    display: flex;
    flex-wrap: wrap;
}
.container2{
    display: flex;
    flex-wrap: wrap;
}
.aside{
    background-color: transparent;
    width: 50%;
    height: 143px;
}
.volver{
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: antiquewhite;
    margin-top: 333px;
    position: relative;
    
}
.containervolver{
    width: 1653px;
    height: 80px;
    position: absolute;
    top: 679px;
   background-color: lightcoral;
    text-align: center;
}
.links{
    text-decoration: none;
    color: black;
    margin: 10px ;
}